@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth
}

body::-webkit-scrollbar {
    display: none;
  }
  
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

